<h1 mat-dialog-title><strong>{{dataCampaign.nombreCampania}}</strong></h1>
<div mat-dialog-content>
  <mat-card style="margin-bottom: 10px;">
    <mat-card-header>
      <mat-card-title>Descripción</mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: justify;">
      {{dataCampaign.descripcion}}
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>información</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="display:flex; align-items: center; margin-bottom: 10px;">
        <mat-icon style="margin-right: 10px;">face</mat-icon>
        <strong>Propietario campaña: </strong>{{dataCampaign.propietarioCampania}}
      </div>
      <div style="display:flex; align-items: center;  margin-bottom: 10px;">
        <mat-icon style="margin-right: 10px;">storage</mat-icon>
        <strong>Id tipo campaña: </strong>{{dataCampaign.idTipoCampania}}
      </div>
    </mat-card-content>
  </mat-card>

</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
</div>