.modal-header{
    font-family: var(--font-family-1);
    color: var(--color-1);
    font-size: var(--font-size-1);
    margin-top: rem;
    display: flex;
    justify-content: center;
}

.modal-page{
    position:absolute;
    top: 20%;
    left:35%;
    background: rgba(0,0,0,0.5);
    transition:all 500ms ease;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items:left;
    flex-direction: column;
    width: 30%;
    height: 60%;
    margin:auto;
    background-color: var(--color-4);
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition:all 500ms ease;
    border-radius: 10px;
    font-family: var(--font-family-3);
    color: var(--color-1);
    font-size: var(--font-size-2);
}
.form-input{
    margin-top: var(--boreder-radius-2);
    margin-block-end: 1.2rem;
    font-family: var(--font-family-2);
    font-size: var(--font-size-1);
    color:var(--color-5);
    width: 300px;
    height: 30px;
    box-shadow: var(--shadow-2);
    border: 0
}

.register-btn{
    background-color: var(--color-2);
    color:var(--color-4);
    font-family: var(--font-family-3);
    font-size: var(--font-size-2);
    width: 200px;
    height:40px;
    border:0;
    margin-top: 1rem;
    margin-left: 3rem;
    cursor: pointer;
}

.exit-btn{
    position:absolute;
    top:10px;
    right: 10px;
    cursor:pointer;
    background-color: var(--color-2);
    color:var(--color-4);
    font-family: var(--font-family-3);
    font-size: var(--font-size-2);
    border:0;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
}

