<div class="modal-user">
    <div class="modal-header">
        <h1>Registrar nuevo usuario</h1>
    </div>
    <div class="modal-wrapper">
        <form (ngSubmit)="createNewUser()" [formGroup]="formRegisterUser" class="register-users">
            <div class="form-group">
                <label for="name">Nombre:</label>
            </div>
            <div>
                <input formControlName="name" type="text" placeholder="Ingresa tu nombre" class="form-input">
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
            </div>
            <div>
                <input formControlName="email" type="text" placeholder="Ingresa tu correo electrónico" class="form-input">
            </div>
            <div class="form-group">
                <label for="phone">Teléfono:</label>
            </div>
            <div>
                <input formControlName="phone" type="text" placeholder="Ingresa tu número de teléfono" class="form-input">
            </div>
            <div class="form-group">
                <label for="company">Compañía:</label>
            </div>
            <div>
                <input formControlName="company" type="text" placeholder="Ingresa el nombre de tu compañia" class="form-input">
            </div>
            <div class="form-group">
                <label for="role">Rol:</label>
            </div>
            <div>
                <input formControlName="role" type="text" placeholder="Ingresa tu rol en la compañía" class="form-input">
            </div>
            <div class="form-group">
                <label for="state">Estado:</label>
            </div>
            <div>
                <input formControlName="state" type="text" placeholder="Activo o Inactivo" class="form-input">
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
            </div>
            <div>
                <input formControlName="password" type="text" placeholder="Ingresa tu contraseña" class="form-input">
            </div>
            <div class="form-action">
                <button  class="register-btn">Registrarse</button>  
            </div>
        </form>
        <div class="form-action">
            <button (click)="closeModalUser()" class="exit-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </div>
</div>
