<h1 mat-dialog-title><strong>{{dataBussins.name}}</strong></h1>
<div mat-dialog-content>
  <mat-card style="margin-bottom: 10px;">
    <mat-card-header>
      <mat-card-title>Descripción</mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: justify;">
      {{dataBussins.description}}
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>información</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="display:flex; align-items: center; margin-bottom: 10px;">
        <mat-icon style="margin-right: 10px;">face</mat-icon>
        <strong>Nombre de contacto: </strong>{{dataBussins.contactName}}
      </div>
      <div style="display:flex; align-items: center;  margin-bottom: 10px;">
        <mat-icon style="margin-right: 10px;">credit_card</mat-icon>
        <strong>Precio: </strong>Q.{{dataBussins.amount}}
      </div>
      <div style="display:flex; align-items: center;  margin-bottom: 10px;">
        <mat-icon style="margin-right: 10px;">credit_card</mat-icon>
        <strong>Ingresos: </strong>Q.{{dataBussins.income}}
      </div>
      <div style="display:flex; align-items: center;  margin-bottom: 10px;">
        <mat-icon style="margin-right: 10px;">work</mat-icon>
        <strong>Campaña fuente: </strong>{{dataBussins.campaingSource}}
      </div>
      <div style="display:flex; align-items: center;  margin-bottom: 10px;">
        <mat-icon style="margin-right: 10px;">calendar_today</mat-icon>
        <strong>Fecha de cierre: </strong>{{dataBussins.closingDate | date:"yyyy-MM-dd"}}
      </div>
    </mat-card-content>
  </mat-card>

</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
</div>
