<div class="login-auth-page"> 
    <div class="login">
        <div class="header-wrapper">
            <h1>Administracion</h1>
        </div>
        <div class="login-wrapper">
            <form class="login-form">
                <div class="form-group">
                    <label for="email">Email administrador:</label>
                </div>
                <div>
                    <input formControlName="email" type="text" placeholder="Ingresa tu correo electrónico" class="form-input">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                </div>
                    <div> 
                        <input formControlName="password" type="password" placeholder="Ingresa tu contraseña" class="form-input">
                        
                    </div>
                <div class="form-action">
                    <button class="login-btn">Iniciar sesión</button>  
                </div>
                <div class="account-form">
                    <h3>¿No tienes una cuenta de administrador?, crea una <a href ="https://play-lh.googleusercontent.com/8ddL1kuoNUB5vUvgDVjYY3_6HwQcrg1K2fd_R8soD-e2QYj8fT9cfhfh3G0hnSruLKec">AHORA</a></h3>
                </div>
            </form>   
        </div>
    </div>


      