/* You can add global styles to this file, and also import other style files */

:root{
    --color-1:#1A6690;
    --color-2:#154E6F;
    --color-3:#000000;
    --color-4:#FFFFFF;
    --color-5:#181818;
    --color-6:#4c8baf;
    --font-size-1:1rem;
    --font-size-2:1.2rem;
    --font-size-3:1.6rem;
    --shadow-1:rgb(0 0 0 / 35%) 0px 8px 24px;
    --shadow-2: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    --border-radius-1: .25em;
    --boreder-radius-2: .5rem;
    --font-family-1: 'Yanone Kaffeesatz', sans-serif;
    --font-family-2: 'Catamaran', sans-serif;
    --font-family-3: 'Rubik', sans-serif;
    --animation-1:200ms;
 }
 
 html,
 body{
     margin:0;
     padding: 0;
     background-color: var(--color-4);
     font-family: var(--font-family-3);
     font-size: var(--font-size-1);
     color: var(--color-3);
 }